@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@200;400;600;900&family=Poppins:wght@300;400;600;800&family=Sen:wght@400;700;800&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --primary-color: #edf2f8;
  /* --secondary-color: #3179ac; */
  --secondary-color: #544179;
  --extra-secondary-color: #5ab5c9;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #7b7485;
  --gray-color-dark: #001e46;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --light-purple: #a287f2;
  --dark-purple: #8681ab;
  --box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
  --box-shadow-light: 0 0 20px rgba(0, 0, 0, 0.15);
}

html,
html::before,
html::after {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-size: 1.1rem;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
